/*
/* Global styling
/* -------------------------------------------------- */
::selection,
::-moz-selection {
  background: var(--primary);
  color: white;
}

html {
  font-family: sans;
  font-size: var(--font-size-dynamic);
  overflow-x: hidden;
  /* Changes the default tap highlight to be completely transparent in iOS. */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-size: 1rem;
  position: relative;
  font-family: var(--font-family-sans-serif);
  color: var(--text-color);
  line-height: 1.6;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &.stop-scroll {
    height: 100vh !important;
    overflow: hidden !important;
    -webkit-overflow-scrolling: hidden;
  }
}