/* ========================================================== */
/* IE overrides
/* ========================================================== */

/*
/* Hero: Background
/* -------------------------------------------------- */
body.is-ie .hero-bg__image {
  position: absolute;
  top: 50%; left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
}