<form class="styled-form" action="/" method="post">
  <ul class="styled-form-list list-unstyled">
    <li class="full-width">
      <input type="text" id="name" name="name" placeholder="Navn">
    </li>
    <li>
      <input type="tel" id="phone" name="phone" placeholder="Telefon">
    </li>
    <li>
      <input type="email" id="email" name="email" placeholder="E-mail">
    </li>
    <li>
      <input type="text" id="zip" name="zip" placeholder="Postnr.">
    </li>
    <li>
      <input type="text" id="city" name="city" placeholder="By">
    </li>
  </ul>

  <div class="btn-wrapper">
    <button class="btn btn--white" type="submit">Ring mig op</button>
  </div>
</form>