<header id="site-header" class="site-header" role="banner">
  <div id="site-header-inner" class="site-header-inner">
    <div>

      <div class="site-header-item site-header-item--logo">
        <a class="logo logo--header center-content" href="{{ "/" | relURL }}">
          {{ readFile "static/img/logo.svg" | safeHTML }}
        </a>
      </div>

      <div class="site-header-item site-header-item--trigger">
        <div class="navigation-trigger js-trigger-site-navigation">
          <div class="navigation-trigger-inner">
            <div class="navigation-trigger__text navigation-trigger__text--open is-active">Menu</div>
            <div class="navigation-trigger__text navigation-trigger__text--close">Luk</div>
            <button class="navigation-trigger__button hamburger hamburger--squeeze" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</header>