<div class="hero js-hero">
  <div class="hero-inner content-container">

    <figure class="hero-figure">
      {{ readFile "static/img/zeppeliner.svg" | safeHTML }}
    </figure>

    <div class="hero-content">
      <h1 class="hero-title display-font">Digital transformation</h1>
      <div class="hero-subtitle">Rådgivning. Implementering. Resultater</div>
      <div class="hero-text">
        <span>Hvordan bliver din virksomhed en digital vinder i fremtiden?</span>
        <span>Hvilke tiltag skal der til strategisk og taktisk for at dreje forretningen i den rigtige retning? Hvilke
          elementer indeholder en succesfuld digital transformation? Vi har svarene. Pentia kan hjælpe dig på hele
          rejsen fra strategisk rådgivning til implementering. </span>
        </div>
      <div class="btn btn--outlined btn--white btn--small hero-btn js-play-hero-embed">Se video</div>
    </div>

    <div class="hero-scroll js-hero-scroll">
      <div class="hero-scroll__text">Start din rejse her</div>
      <div class="hero-scroll__dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

  </div>

  <div class="hero-close close-btn js-stop-hero-embed">
    <button>Luk video</button>
  </div>

  <div class="hero-embed js-hero-embed">
    <iframe data-src="https://player.vimeo.com/video/366333472" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
  </div>
</div>