<div class="site-navigation js-site-navigation">

  <div class="site-navigation-close close-btn js-trigger-site-navigation">
    <button></button>
  </div>

  <div class="site-navigation-wrapper">

    <div class="site-navigation-inner center-content">
      <div>

        <div class="site-navigation-sections">

          <div class="site-navigation-section site-navigation-brand">
            <span class="text-uppercase"><strong>Pentia</strong></span>
          </div>

          <div class="site-navigation-section site-navigation-nav">
            <nav>
              <ul>
                <li><a href="{{ "/services" | relURL }}">Cases</a></li>
                <li><a href="{{ "/services" | relURL }}">Services</a></li>
                <li><a href="{{ "/services" | relURL }}">Karriere</a></li>
                <li><a href="{{ "/services" | relURL }}">Nyt</a></li>
                <li><a href="{{ "/services" | relURL }}">Events</a></li>
                <li><a href="{{ "/services" | relURL }}">Om Pentia</a></li>
              </ul>
            </nav>
          </div>

        <div class="site-navigation-section site-navigation-info">
          <address>
            <ul class="list-unstyled">
              <li class="text-uppercase"><strong>Info</strong></li>
              <li><a href="tel:004570233330">+45 70 23 33 30</a></li>
              <li><a href="mailto:info@pentia.dk">info@pentia.dk</a></li>
              <li>CVR-nr: 20868872</li>
            </ul>
          </address>
        </div>

      </div>
    </div>

  </div>

</div>

</div>