<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">

{{ block "head" . }}{{ partial "head" . }}{{end}}

<body>

  <div class="site-container js-animation-site">

    {{ block "header" . }}{{ partial "header" . }}{{end}}
    {{ block "navigation" . }}{{ partial "navigation" . }}{{end}}

    <div class="site-wrapper">
      <div class="site">
        {{ block "main" . }}{{end}}
      </div>
    </div>

  </div>

  {{ $script := .Site.Data.webpack.main }}
  {{ with $script.js }}
    <script src="{{ relURL . }}"></script>
  {{ end }}

</body>

</html>
