<article class="grid-item">
  <header>
    <img src='{{ $.Param "icon" }}' alt='{{ .Title }}'>
    <div class="grid-item-title h3">{{ .Title }}</div>
  </header>

  <p>{{ $.Param "excerpt" }}</p>

  <footer>
    <a href='{{ .Permalink }}' class="text-nowrap">Læs mere →</a>
  </footer>
</article>