{{ define "main" }}
  <main class="page-content content-container">
    <article>
      <header>
        <h1>{{.Title}}</h1>
      </header>
      {{.Content}}
    </article>
    <ul>
      {{ range .Pages }}
        <li>
          <a href="{{.Permalink}}">{{.Title}}</a>
        </li>
      {{ end }}
    </ul>
  </main>
{{ end }}