/* ========================================================== */
/* Content section scaffolding
/* ========================================================== */
.content-sections {
  position: relative;
  width: 100%;
}

.content-section {
	position: relative;
	width: 100%;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--section-margin-y);
  padding-left: var(--site-padding-x);
  padding-right: var(--site-padding-x);
}

.content-section:not(.content-section--bg):last-child {
  margin-bottom: var(--section-margin-y);
}

/* ========================================================== */
/* Content section inner
/* ========================================================== */
.content-section-inner {
  position: relative;
  width: 100%;
  z-index: 2;
  margin: 0 auto;
}

/* ========================================================== */
/* Content section: Modifiers
/* ========================================================== */

/*
/* Section with background color
/* -------------------------------------------------- */
.content-section--bg {
  padding-top: var(--section-padding-y);
  padding-bottom: var(--section-padding-y);
  background: var(--brand-secondary);
  color: #fff;

  :--heading {
    color: #fff;
  }
}

.content-section--bg:first-child {
  margin-top: 0;
}

.content-section--bg + .content-section--bg {
  margin-top: 0;
  padding-top: 0;
}

/* ========================================================== */
/* Content section: Header
/* ========================================================== */
.content-section-header {
  max-width: 50rem;
  margin: 0 auto 3rem;
  text-align: center;

  @media (--viewport-sm-min) {
    margin-bottom: 6vmin;
  }

  > .h1 {
    margin: 0;
  }

  > p {
    font-size: 1.2rem;
    line-height: 1.3;
    margin-top: 1rem;

    @media (--viewport-sm-min) {
      font-size: 1.6rem;
    }
  }
}

/* ========================================================== */
/* Content section: Footer
/* ========================================================== */
.content-section-footer {
  max-width: 50rem;
  margin: 3rem auto 0;
  text-align: center;

  svg {
    width: 5rem;
    height: 5rem;

    path {
      fill: #fff;
    }
  }

  > p {
    font-size: 1.2rem;
    line-height: 1.3;
    margin-top: 1rem;

    @media (--viewport-sm-min) {
      font-size: 1.6rem;
    }
  }
}