/* ========================================================== */
/* Scaffolding
/* ========================================================== */
.site-container {
	position: relative;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
  animation-fill-mode: both;
  backface-visibility: hidden;
}

.site-wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	z-index: 2;
	backface-visibility: hidden;

	transition: transform var(--navigation-animation-duration);
	transition-timing-function: cubic-bezier(0.555, 0.205, 0.295, 1);

	@media (--header-break-width-max) {
		padding-top: var(--header-height-mobile);
	}

	@media (--header-break-width-min) {
		padding-left: var(--header-height-desktop);

		&::before {
			visibility: hidden;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.5);
			content: '';
			opacity: 0;
			transform: translate3d(100%, 0, 0);
			transition: opacity var(--navigation-animation-duration), transform 0s var(--navigation-animation-duration), visibility var(--navigation-animation-duration);
			transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
		}
	}
}

// When site navigation is visible
body.site-nav-is-open .site-wrapper {
	transform: translateX(-100%);

	@media (--header-break-width-min) {
		transform: translateX(10%);
		transition: transform var(--navigation-animation-duration);

		&::before {
			visibility: visible;
			opacity: 1;
			transition: opacity var(--navigation-animation-duration), visibility var(--navigation-animation-duration);
			transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
			transform: translate3d(0, 0, 0);
		}
	}
}

.site {
	position: relative;
	overflow: hidden;
	width: 100%;
	min-height: 80vh;
}

/* ========================================================== */
/* Scaffolding: Content container
/* ========================================================== */
.content-container {
	position: relative;
	width: 100%;
	margin: 0 auto;
	max-width: var(--site-width-inner);
}

/* ========================================================== */
/* Scaffolding: Page content
/* ========================================================== */
.page-content {
	margin-top: 10vmin;
	margin-bottom: 10vmin;
}