/* ========================================================== */
/* Buttons
/* ========================================================== */
.btn-wrapper {
	display: block;
	width: 100%;
	max-width: 100%;
	text-align: center;
	margin-top: 2rem;

	.btn {
		margin: 0 0.4rem 0.6rem;
	}
}

.btn {
  position: relative;
	display: inline-block;
	align-items: center;
	margin: 0;
  padding: 1.25rem 2.25rem;
	color: #fff;
	font-size: 1.1rem;
	line-height: 1.2;
	font-weight: bold;
	text-decoration: none;
	border: 2px solid transparent;
	border-radius: 8px;
	background: var(--brand-secondary);
	overflow: hidden;
	box-shadow: none;
	cursor: pointer;
	z-index: 1;
	outline: none;
	vertical-align: middle;
	backface-visibility: hidden;
	appearance: none;
	-webkit-appearance: none;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-font-smoothing: antialiased;
	transition: background-color 0.2s, color 0.2s;
	transition-timing-function: ease-in-out;

  @media (--viewport-sm-min) {
    font-size: 1.3rem;
  }

  /*
	/* States
	/* -------------------------------------------------- */
	html.touchevents & {

		&:hover, &:active, &:focus {
			opacity: 1;
			outline: none;
			text-decoration: none;
		}
	}

	/* Hover */
	html.no-touchevents & {

		&:hover, &:active, &:focus {
			opacity: 1;
			outline: none;
			text-decoration: none;
			background-color: var(--brand-secondary);
		}
	}

	/* Active */
	&:active {
		outline: none;
	}
}

/* Small button */
.btn--small {
	padding: 1.1rem 2rem;

	@media (--viewport-sm-min) {
    font-size: 1.2rem;
  }
}

/* White button */
.btn--white {
  color: var(--brand-secondary);
  background: #fff;

  html.no-touchevents & {

		&:hover, &:active, &:focus {
			background-color: rgba(255, 255, 255, 0.8);
		}
	}
}

/* Outlined button */
.btn--outlined {
  color: var(--brand-secondary);
	border-color: var(--brand-secondary);
  background: transparent;

	&.btn--white {
		color: #fff;
		border-color: #fff;
	}

  html.no-touchevents & {

		&:hover, &:active, &:focus {
			color: #fff;
			background-color: var(--brand-secondary);
		}

		&.btn--white {

			&:hover, &:active, &:focus {
				color: var(--brand-secondary);
				background-color: #fff;
			}
		}
	}
}

/* ========================================================== */
/* Close button
/* ========================================================== */
.close-btn button {
	position: relative;
	height: 36px;
	width: 36px;
	padding: 0;
	cursor: pointer;
	display: inline-block;
	outline: none;
	border: none;
	background: transparent;
	color: transparent;
	text-indent: 100%;
	z-index: 1001;
	white-space: nowrap;
	backface-visibility: hidden;

	&::before, &::after {
		position: absolute;
		content: '';
		top: 50%;
		left: 50%;
		margin-left: calc(-1 * calc(36px / 2));
		height: 2px;
		width: 100%;
		background-color: #fff;
		backface-visibility: hidden;
		transition: transform 0.4s 0s;
	}

	&::before {
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}

	html.no-touchevents & {

		&:hover {

			&::before, &::after {
				transform: rotate(0);
				transition-delay: 0s;
			}
		}
	}
}