/* ========================================================== */
/* Forms
/* ========================================================== */
.styled-form {

  input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="file"]),
  textarea,
  select {
    position: relative;
    display: block;
    width: 100%;
    font-weight: normal;
    line-height: 1.3;
    font-size: 1.1rem;
    padding: 0.6rem 0;
    color: #fff;
    background: none;
    background-image: none;
    border: 0;
    border-bottom: 2px solid #fff;
    outline: none;
    box-shadow: none;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-font-smoothing: antialiased;

    @media (--viewport-sm-min) {
      font-size: 1.3rem;
    }
  }

  input::placeholder,
  input::-webkit-input-placeholder,
  input::-moz-placeholder,
  input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
  }
}

.styled-form-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    flex: 0 0 100%;
    max-width: 100%;

    @media (--viewport-sm-min) {
      max-width: calc(50% - 1rem);
    }
  }

  li:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  li.full-width {
    max-width: 100%;
  }
}