/* ========================================================== */
/* Grid
/* ========================================================== */
.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (--viewport-sm-min) {
    margin-bottom: -2.5rem; /* Offset grid-item margin */
  }
}

/* ========================================================== */
/* Grid: Item
/* ========================================================== */
.grid-item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 2.5rem;
  text-align: center;

  @media (--viewport-sm-max) {

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @media (--viewport-sm-min) {
    max-width: 45%;
  }
}

.grid-item-title {
  margin: 0 auto 1.5rem;
}

.grid-item img {
  max-height: 10rem;
  width: auto;
  margin: 0 auto 1.5rem;
}

.grid-item p {
  font-size: 1.1rem;
}

.grid-item a {
  transition: color 0.2s ease-in-out;
  color: var(--text-color);
}

html.no-touchevents .grid-item a:hover {
  color: var(--brand-secondary);
}