/* ========================================================== */
/* Header
/* ========================================================== */
.site-header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	backface-visibility: hidden;
	transition: transform var(--navigation-animation-duration), opacity 0s;
	transition-timing-function: cubic-bezier(0.555, 0.205, 0.295, 1);

	@media (--header-break-width-max) {
		width: 100%;
	}

	@media (--header-break-width-min) {
		bottom: 0;
		height: 100%;
	}
}

/* When site nav is visible */
body.site-nav-is-open .site-header {

  @media (--header-break-width-max) {
    transform: translateX(-100%);
  }
}

/* ========================================================== */
/* Header inner
/* ========================================================== */
.site-header-inner {
	position: relative;
	background-color: var(--header-bg);

	@media (--header-break-width-max) {
		width: 100%;
		height: var(--header-height-mobile);
		line-height: var(--header-height-mobile);
	}

	@media (--header-break-width-min) {
		width: var(--header-height-desktop);
		height: 100%;
		line-height: var(--header-height-desktop);
	}

	> div {
		position: relative;
		height: 100%;
		width: 100%;
		margin: 0 auto;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		@media (--header-break-width-max) {
			padding-left: var(--site-padding-x);
      padding-right: var(--site-padding-x);
		}

		@media (--header-break-width-min) {
			padding-top: 2rem;
			padding-bottom: 2rem;
			flex-direction: column;
		}
	}
}

/* ========================================================== */
/* Header: Item
/* ========================================================== */
.site-header-item {
	position: relative;
	display: flex;
	height: 100%;
	width: 100%;
	max-width: 100%;
	flex: 1 1 auto;

	@media (--header-break-width-max) {
		justify-content: flex-start;
		align-items: center;

		&:last-of-type {
			justify-content: flex-end;
		}
	}

	@media (--header-break-width-min) {
		justify-content: center;
		align-items: flex-end;
	}
}

.site-header-item--trigger {

	@media (--header-break-width-min) {
		order: -1;
		align-items: flex-start;
	}
}