/* ========================================================== */
/* Hero
/* ========================================================== */
.hero {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - var(--header-height-mobile));
  padding-top: 3rem;

  display: flex;
  flex-direction: column;
  flex: 0 0 100%;

  overflow: hidden;
  backface-visibility: hidden;
  background-color: var(--dark-grey);
  transition: background-color, min-height;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);

  @media (--header-break-width-min) {
    min-height: 50vh;
    padding-top: 10vmin;
  }
}

html.touchevents .hero {
  min-height: calc(100vh - var(--header-height-mobile));
}

.hero-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  width: 100%;
  max-width: var(--site-width-inner-lg);

  text-align: center;
  color: #fff;
  padding-left: var(--site-padding-x);
  padding-right: var(--site-padding-x);
}

/* ========================================================== */
/* Hero figure
/* ========================================================== */
.hero-figure {
  margin-bottom: 3rem;
  max-width: 80%;

  svg {
    max-width: 100%;
    width: 16rem;
    height: auto;
    margin: 0 auto;
  }

  svg path {
    fill: #fff;
  }

  @media (min-height: 850px) and (--header-break-width-min) {
    margin-bottom: 4rem;

    svg {
      width: 25rem;
    }
	}
}

/* ========================================================== */
/* Hero cotent
/* ========================================================== */
.hero-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  max-width: 100%;
  padding-bottom: 10vmin;
  color: #fff;
}

.hero-title,
.hero-btn,
.hero-subtitle {
  color: inherit;
  margin: 0;
}

.hero-title,
.hero-subtitle {
  position: relative;
  width: 100%;
  max-width: 85%;
  margin-bottom: 1rem;
}

.hero-subtitle {
  display: block;
  margin-bottom: 2rem;
  font-size: calc(1rem + 1.25vw);
  line-height: 1.3;
}

.hero-text {
  margin: 0;
  font-size: 1rem;

  span {
    display: block;
  }

  @media (--viewport-sm-min) {
    font-size: 1.3rem;
  }
}

.hero-btn.btn {
  margin: 1.5rem 0 0;
}

// When body has animated in
/* body.animation-in {

  .hero-figure,
  .hero-content,
  .hero-scroll {
    animation: fadeInUpSmall 0.8s 0.2s both;
    animation-timing-function: var(--ease-out-quart);
  }

  .hero-content {
    animation-delay: 0.3s;
  }

  .hero-scroll {
    animation-delay: 0.3s;
  }
} */

/* ========================================================== */
/* Hero: Video embed
/* ========================================================== */
.hero-embed {
  overflow: hidden;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  max-height: 100vh;

  iframe, video {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    width: 100%;
    height: 100%;
  }
}

/* ========================================================== */
/* Hero: Video embed close btn
/* ========================================================== */
.hero-close {
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0; right: 0;
  text-align: center;
  z-index: 4;
  transform: translate3d(0, -100%, 0);
  transition: transform 0.4s 0.1s, visibility 0s 1s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

/* ========================================================== */
/* Hero: Scroll indicator
/* ========================================================== */
.hero-scroll {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  backface-visibility: hidden;
  cursor: pointer;
}

.hero-scroll__text {
  display: inline-block;
  line-height: 1;
  font-weight: bold;
  font-size: 1.2rem;
}

.hero-scroll__dots {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;

  span {
    display: inline-flex;
    width: 3px;
    height: 3px;
    background: #fff;
    border-radius: 50%;
    will-change: width, height;
    transform: translateZ(0);
    transition-property: width, height;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
  }

  span:nth-of-type(2) {
    width: 5px;
    height: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  span:nth-of-type(3) {
    width: 7px;
    height: 7px;
  }
}

// Hover
html.no-touchevents .hero-scroll:hover {

  .hero-scroll__dots {

    span:nth-of-type(1) {
      width: 7px;
      height: 7px;
    }

    span:nth-of-type(3) {
      width: 3px;
      height: 3px;
    }
  }
}

/* ========================================================== */
/* Hero: Video playing
/* ========================================================== */
.hero {

  &.hero-video-playing {
    min-height: 100vh;
    background-color: #000;
    transition-delay: 0.6s;

    .hero-figure,
    .hero-content,
    .hero-scroll {
      animation: fadeOut 0.4s 0.1s both;
    }

    .hero-embed {
      opacity: 1;
      visibility: visible;
      z-index: 3;
      transition: z-index 0s 1.8s, visibility 0s 1.8s, opacity 0s 1.8s;
    }

    .hero-close {
      visibility: visible;
      transform: translate3d(0, 2rem, 0);
      transition: transform 0.4s 2s, visibility 0s 1s;
    }
  }

  &.hero-video-stop {
    transition-duration: var(--navigation-animation-duration);
    transition-delay: 0.6s;

    .hero-figure,
    .hero-content,
    .hero-scroll {
      animation: fadeIn 1s 1.5s both;
    }

    .hero-embed {
      animation: fadeOut 0.6s 0.4s forwards;
      transition: z-index 0s var(--navigation-animation-duration), visibility 0s var(--navigation-animation-duration), opacity 0s var(--navigation-animation-duration);
    }
  }
}

/* Site wrapper */
body.body-hero-video-playing .site-wrapper {
	padding: 0;

	@media (--header-break-width-max) {
		transition: padding-top var(--navigation-animation-duration) ease-in-out 1.2s;
	}

	@media (--header-break-width-min) {
		transition: padding-left var(--navigation-animation-duration) ease-in-out 1.2s;
	}
}

body.body-hero-video-stop .site-wrapper {

	@media (--header-break-width-max) {
		transition: padding-top var(--navigation-animation-duration) ease-in-out 1s;
	}

	@media (--header-break-width-min) {
		transition: padding-left var(--navigation-animation-duration) ease-in-out 1s;
	}
}

/* Header */
body.body-hero-video-playing .site-header {
	transition-timing-function: ease-in-out;
	transition-duration: var(--navigation-animation-duration);
	transition-delay: 1.2s;

	@media (--header-break-width-max) {
		transform: translate3d(0, -100%, 0);
	}

	@media (--header-break-width-min) {
		transform: translate3d(-100%, 0, 0);
	}
}

body.body-hero-video-stop .site-header {
	transition-timing-function: ease-in-out;
	transition-delay: 1s;
}