/* ========================================================== */
/* Logo
/* ========================================================== */
.logo {
	position: relative;
	display: flex;
	outline: none;
	transition: opacity 0.25s ease-in-out;

	svg {
		transition: transform 0.15s cubic-bezier(0.555, 0.205, 0.295, 1);
	}

	svg path {
		fill: #fff;
		transition: fill 0.25s ease-in-out;
	}

	// Active
	&:active svg {
		transform: scale(0.95);
	}
}

/* ========================================================== */
/* Logo: Header
/* ========================================================== */
.logo--header {
  align-items: flex-start;

	@media (--header-break-width-min) {
    align-items: center;
    justify-content: flex-end;
	}

	svg {
		width: calc(var(--header-height-mobile) - 1.6rem);
		height: calc(var(--header-height-mobile) - 1.6rem);

		@media (--header-break-width-min) {
			width: calc(var(--header-height-desktop) - 3rem);
			height: calc(var(--header-height-desktop) - 3rem);
		}
	}
}

html.no-touchevents .logo--header:hover svg {
	transform: scale(0.97);
}