/* ========================================================== */
/* Mobile navigation trigger
/* ========================================================== */
.navigation-trigger {
	position: relative;
	display: flex;
	background-color: transparent;

	.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before {
		background-color: var(--navigation-color);
	}

	.hamburger:not(.is-active) {

		.hamburger-inner::after {
			max-width: 80%;
		}
	}
}

/* Trigger wrapper */
.navigation-trigger-inner {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	text-align: center;

	@media (--header-break-width-min) {
		flex-direction: column;
	}
}

// Text
.navigation-trigger__text {
	display: none;
	font-weight: bold;
  padding-right: 4.5rem;
  order: 2;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 13px;
	line-height: 1;
  transform: rotate(-90deg);
	color: var(--navigation-color);

	@media (--header-break-width-min) {

    &.is-active {
      display: flex;
    }
	}
}

// Button
button.navigation-trigger__button {
	display: flex;
	outline: none;
	line-height: 0;
	-webkit-appearance: none;
}

/* ========================================================== */
/* Hover
/* ========================================================== */
html.no-touchevents {

	.navigation-trigger:hover {

		.hamburger:not(.is-active) .hamburger-inner::after {
			max-width: 100%;
		}
	}
}

/* ========================================================== */
/* Hamburger
/* ========================================================== */
.hamburger {
  padding: 0;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger-box {
  width: 2.5rem;
  height: 24px;
  display: inline-block;
  position: relative;

  @media (--header-break-width-min) {
    width: 3rem;
  }
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 2.5rem;
  max-width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

  @media (--header-break-width-min) {
    width: 3rem;
  }
}

.hamburger-inner::before, .hamburger-inner::after {
  content: '';
  display: block;
}

.hamburger-inner::before {
  top: -10px;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger-inner::after {
  bottom: -10px;
  transition:
    bottom 0.075s 0.12s ease,
    max-width 0.15s ease,
    transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

  &::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  }
  &::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}