/* ========================================================== */
/* Site navigation
/* ========================================================== */
.site-navigation {
	position: fixed;
	top: 0; bottom: 0;
	left: 0;
	height: 0;
	width: var(--navigation-width-mobile);
	visibility: hidden;
	transform: translateZ(0);
	background-color: var(--header-bg);

	@media (--header-break-width-max) {
		z-index: -1;
		transition: visibility 0s var(--navigation-animation-duration),
								z-index 0s var(--navigation-animation-duration),
								height 0s var(--navigation-animation-duration);
	}

	@media (--header-break-width-min) {
		width: var(--navigation-width-desktop);
		z-index: 98;
		transform: translateX(calc(-100% + var(--header-height-desktop)));
		background-color: var(--header-bg);
		transition: transform var(--navigation-animation-duration) 0s,
								visibility 0s var(--navigation-animation-duration),
								z-index 0s var(--navigation-animation-duration),
								height 0s var(--navigation-animation-duration);
		transition-timing-function: cubic-bezier(0.555, 0.205, 0.295, 1);
	}
}

.site-navigation-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;

	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	transform: translateZ(0);
	backface-visibility: hidden;

	transition: transform var(--navigation-animation-duration);
	transition-timing-function: cubic-bezier(0.555, 0.205, 0.295, 1);

	&::-webkit-scrollbar {
		display: none !important;
	}

	@media (--header-break-width-max) {
		transform: translateX(50%);
	}

	@media (--header-break-width-min) {
		padding-left: var(--header-height-desktop);
	}
}

/*
/* Animation: When site nav opens
/* -------------------------------------------------- */
body.site-nav-is-open {

	.site-navigation {
		height: 100%;
		visibility: visible;

		@media (--header-break-width-max) {
			z-index: 1;
			transition: visibility 0s 0s, z-index 0s 0s, height 0s 0s;
		}

		@media (--header-break-width-min) {
			transform: translateX(0);
			transition: visibility 0s 0s, z-index 0s 0s, height 0s 0s, transform var(--navigation-animation-duration);
		}
	}

	.site-navigation-wrapper {
		transform: translateX(0);
		transition: transform var(--navigation-animation-duration) - 0.2s;
	}
}

/*
/* Site navigation inner
/* -------------------------------------------------- */
.site-navigation-inner {
	position: relative;
	width: 100%;
	min-height: 100%;
	padding: 80px 70px 40px 40px;
	-webkit-overflow-scrolling: touch;

	@media (--header-break-width-min) {
		padding: 2rem 4rem;
	}

	> div {
		display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    width: 100%;
    max-width: 100%;
	}
}

/*
/* site navigation sections
/* -------------------------------------------------- */
.site-navigation-sections {
	position: relative;
	width: 100%;
	display: flex;
	flex: 1 1 100%;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.site-navigation-section {
	display: flex;
	width: 100%;
	max-width: 100%;
	flex: 0 1 auto;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-bottom: 3rem;

	@media (--header-break-width-min) {
		align-items: flex-end;
		text-align: right;
	}

	&:last-of-type {
		margin: 0;
	}

	a,
  span,
  li,
  p {
		position: relative;
		color: var(--navigation-color);
		transition: color 0.2s ease-in-out, opacity 0.2s ease-in-out;
		outline: none;
		font-size: 1rem;
	}

	a {

		&:focus,
		&:active {
			opacity: 1;
		}
	}
}

html.no-touchevents .site-navigation-section {

  a:hover {
    opacity: 1;
    text-decoration: none;
    color: var(--brand-secondary);
  }
}

/* ========================================================== */
/* Site navigation: Nav
/* ========================================================== */
.site-navigation-nav {
  flex: 1 1 auto;

  @media (--header-break-width-min) {
		align-items: center;
  	text-align: center;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	nav > ul > li {

		@media (--header-break-width-min) {
			animation: fadeOutLeft 0.25s both;
	  	animation-timing-function: cubic-bezier(0.555, 0.205, 0.295, 1);

	    @for $i from 1 through 12 {

				&:nth-last-child(#{$i}) {
					animation-delay: #{($i * 0.05)}s;
				}
			}
		}
	}

	li {
		position: relative;
		padding: 0;
		margin: 0 0 1.25rem;
		word-break: break-word;
		backface-visibility: hidden;

		@media (--header-break-width-min) {
			margin-bottom: 1.5rem;
		}

		&:last-of-type {
			padding: 0;
			margin: 0;
		}
	}

	a, span {
		position: relative;
		color: var(--navigation-color);
		text-decoration: none;
    font-size: 1.5rem;
		line-height: 1.1;
    font-weight: bold;

		@media (--header-break-width-min) {
			font-size: 3vmin;
		}
	}
}

// Site nav animation
body.site-nav-is-open .site-navigation-nav {

  @media (--header-break-width-min) {

	  nav > ul > li {
	  	animation: fadeInLeft var(--navigation-animation-duration) both;
	  	animation-timing-function: cubic-bezier(0.555, 0.205, 0.295, 1);

	  	@for $i from 1 through 12 {

				&:nth-child(#{$i}) {
					animation-delay: #{($i * 0.05) + 0.02}s;
				}
			}
	  }
  }
}

/* ========================================================== */
/* Site navigation: Info
/* ========================================================== */
.site-navigation-info {

	address {
		margin-bottom: 0;
		line-height: 1.3;
	}

	ul:not(:last-of-type) {
		margin-bottom: 1.6rem;
	}

	li {
		display: block;
    color: var(--navigation-color);
	}

	li:not(:last-of-type) {
		margin-bottom: 0.5rem;
	}
}

html.touchevents .site-navigation-info a {
	text-decoration: underline;
}

/* ========================================================== */
/* Site navigation: Social
/* ========================================================== */
.site-navigation-brand {
	display: none;

	@media (--header-break-width-min) {
		display: flex;
		justify-content: flex-start;
    min-height: 8vh;
	}
}

/* ========================================================== */
/* Site navigation: Close button
/* ========================================================== */
.site-navigation-close {
	position: absolute;
	top: 19px;
	right: 19px;
	line-height: 1;

	@media (--header-break-width-min) {
		display: none;
	}

	body.site-nav-is-open & {

		button::before {
			transform: rotate(45deg);
		}

		button::after {
			transform: rotate(-45deg);
		}
	}
}