/* ========================================================== */
/* Gilroy
/* ========================================================== */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-SemiBold.woff") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

/* ========================================================== */
/* Gotham Rounded
/* ========================================================== */
/* @font-face {
  font-family: "Gotham";
  src: url("/fonts/gotham-rounded/book/gothamrounded-book-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/gotham-rounded/medium/gothamrounded-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/gotham-rounded/bold/gothamrounded-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
} */