/* ========================================================== */
/* Text utils
/* ========================================================== */
.text-sans-serif { font-family: var(--font-family-sans-serif); }
.text-uppercase { text-transform: uppercase; }
.text-nowrap { white-space: nowrap; }
.text-center { text-align: center; }

.color-white {
  color: #fff;
}

/* ========================================================== */
/* Headings
/* ========================================================== */
:--heading {
  word-wrap: break-word;
  hyphens: auto;
  line-height: 1.2;
  margin-top: 1.25em;
  margin-bottom: 0.75em;
  font-weight: bold;
}

.display-font {
  font-size: var(--font-size-display);
  line-height: 1;

  @media (--viewport-sm-min) {
    font-size: calc(var(--font-size-display) + 2vw);
  }
}

h1,
.h1 {
  font-size: calc(var(--font-size-h1) * 0.8);

  @media (--viewport-sm-min) {
    font-size: calc(var(--font-size-h1) + 0.5vw);
  }
}

h2,
.h2 {
  font-size: calc(var(--font-size-h2) + 0.5vw);
}

h3,
.h3 {
  font-size: calc(var(--font-size-h3) + 0.5vw);
}

h4,
.h4 {
  font-size: calc(var(--font-size-h4) + 0.5vw);
}

h5,
.h5 {
  font-size: calc(var(--font-size-h5));
}

h6,
.h6 {
  font-size: calc(var(--font-size-h6));
}