/*
/* Utility classes
/* -------------------------------------------------- */

/* Fill container */
.fill-container {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
	width: 100%; height: 100%;
}

/* Fill image */
.fill-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

/* Fluid image */
.img-fluid {
	max-width: 100%;
	height: auto;
}

/* Center content with flex-box */
.center-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* List style */
.list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}