:root {
  --font-size-root: 16px;
  --font-size-dynamic: var(--font-size-root);
  --font-family-sans-serif: "Gilroy", system-ui, sans-serif;
  --font-family-serif: serif;
  --header-height: 15vw;

  /* Scaffolding */
  --site-padding-x: 1rem;
  --grid-margin-bottom: 2rem;
  --section-margin-y: 2.5rem;
  --section-padding-y: 2.5rem;

  --site-width-inner: 65rem;
  --site-width-inner-lg: 80rem;
  --site-width-inner-xl: 100rem;

  --header-height-mobile: 60px;
  --header-height-desktop: 7rem;

  --navigation-width-mobile: 100%;
  --navigation-width-desktop: 55%;

  /* Colors */
  --brand-primary: #173448;
  --brand-secondary: #e85c54;

  --header-bg: #000;
  --light-grey: #e5e5e5;
  --dark-grey: #2a2a2c;

  --text-color: #333;
  --navigation-color: #fff;

  /* Heading sizes */
  --font-size-display: 2.5rem;
  --font-size-h1: 2.5rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.3rem;
  --font-size-h4: 1.1rem;
  --font-size-h5: 1.1rem;
  --font-size-h6: 1rem;

  /* Animations */
  --navigation-animation-duration: 0.6s;

  /* Easing */
  --ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
  --ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
  --ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);

  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);

  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);

  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);

  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);

  --ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  --ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@media (--viewport-sm-min) {
  :root {
    --font-size-dynamic: calc(var(--font-size-root) * 0.85);
    --site-padding-x: 1.5rem;
    --section-padding-y: 10vmin;
    --section-margin-y: 10vmin;
  }
}

@media (--viewport-md-min) {
  :root {
    --font-size-dynamic: calc(var(--font-size-root) * 0.9);
    --site-padding-x: 4vmin;
  }
}

@media (--viewport-lg-min) {
  :root {
    --font-size-dynamic: calc(var(--font-size-root));
    --site-padding-x: 6vmin;
  }
}