{{ define "main" }}

<div class="content-sections">

  <section class="content-section">
    <div class="content-section-inner content-container">

      <h2 style="font-size: 120px; margin:0;">💩</h2>
      <h1>Looks like you are lost...</h1>
      <h3><a href="{{ "/" | relURL }}">Return to safety</a></h3>

    </div>
  </section>

</div>

{{ end }}
