{{ define "main" }}

  {{ partial "hero" . }}

  <div class="content-sections">

    <section class="content-section">
      <div class="content-section-inner content-container">

        <div class="content-section-header">
          <h2 class="h1">Vi kan hjælpe dig med digital transformation på to fronter</h2>
        </div>

        <div class="grid-container">
          {{ range where .Site.RegularPages "Type" "service" }}
            {{ .Render "grid"}}
          {{ end }}
        </div>

      </div>
    </section>

    <section class="content-section content-section--bg">
      <div class="content-section-inner content-container">

        <div class="content-section-header">
          <h2 class="h1">Få 10 gode råd om digital transformation</h2>
          <p>Ja tak, jeg vil gerne høre mere om digital transformation</p>
        </div>

        {{ partial "form" . }}

        <div class="content-section-footer">
          {{ readFile "static/img/prize.svg" | safeHTML }}
          <p>Pentia vinder pris for digital innovation 2020</p>
        </div>

      </div>
    </section>

  </div>

{{ end }}
